.footer
  .footer-box.clearfix
    %form{:action => "#", :method => "post"}
      %input{:name => "body", :type => "text", :placeholder => "type a message",class:"footer-box__text-field"}
      .footer-box__photo
        %label.fa.fa-picture-o.icon
          %input{:name => "image", :type => "file", class:"upload-icon"}
      .footer-box__footer-btn
        %button{:type =>"sumbit",:value => "SEND",class:"footer-btn__send"}
          Send
