.main
  .main__header
    .main__header__left
      .main-header__group-name
        %h3  group name
      .main-header__user-name
        %p  username
    .main__header__right
      .main-header__right__edit-group
        %i edit
  = render 'shared/messages'
  = render 'shared/footer'
