.main-message
  .main-message-container
    .main-message-box.clearfix
      .main-message-box__user-name
        %p user name
      .main-message-box__date
        %p date
      .main-message-box__comment
        %p comment
