-# %a.modal-open{"data-target" => "con1"} リンク1
-# %a.modal-open{"data-target" => "con2"} リンク2
-# %a.modal-open{"data-target" => "con3"} リンク3
-# %a.modal-open{"data-target" => "con4"} リンク4
-# %a.modal-open{"data-target" => "con5"} リンク5
-# #con1.modal-content
-#   %p リンク1の内容です。
-#   %p
-#     %a.modal-close 閉じる
-# #con2.modal-content
-#   %p リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。リンク2の内容です。
-#   %p
-#     %a.modal-close 閉じる
-# #con3.modal-content
-#   %p リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。リンク3の内容です。
-#   %p
-#     %a.modal-close 閉じる
-# #con4.modal-content
-#   %p リンク4の内容です。リンク4の内容です。
-#   %p
-#     %a.modal-close 閉じる
-# #con5.modal-content
-#   %p リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。リンク5の内容です。
-#   %p
-#     %a.modal-close 閉じる
-# %p
-#   スクロールしてみてください。モーダルウィンドウは固定されているのがわかるかと思います。
-#   %br/
-#   ↓
-#   %br/
-#   ・・・
-#   終わり。
-# %p
-#   %a{:href => "http://coolwebwindow.com/jquery-lab/archives/304"} &lt;&lt; 記事に戻る
