.side
  .side-header
    .side-header__left
      .side-header__left__user-name
        %p username
    .side-header__right
      .side-header__right__make-group
        %i.fa.fa-pencil-square-o.icon
      .side-header__right__edit-user
        %i.fa.fa-cog.icon
  .side-body
    .side-body__group-name
      %p gourp name
      %p gruop name
    .side-body__group-message
      %p group message
